.owner .avatar {
    padding: 0px !important;
}

.img-circle {
    border-radius: 0% !important;
}
.owner {
    text-align: left !important;
}

.wrapper{
    font-size: 18px !important;
}
.fa {
   
    margin-right: 12px !important;
}

